@font-face {
    font-family: "AvertaCY-Light";
    src: url(./fonts/AvertaCY-Light.ttf);
}

@font-face {
    font-family: "AvertaCY-Bold";
    src: url(./fonts/AvertaCY-Bold.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AvertaCY-Light";
    color: #000;
}

head, body{
    width: 100%;
    height: 100%;
}

#circle{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    mix-blend-mode: difference;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#wrapper{
    width: 100%;
    background-color: #fff;
}

#homepage{
    width: 100%;
    height: 100vh;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

#nav img{
    width: 90px;
    height: 50px;
    cursor: pointer;
}

#nav #navr{
    display: flex;
    align-items: center;
    gap: 25px;
}

#nav #navr a{
    text-decoration: none;
    font-weight: 600;
}

#nav #navr i{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 16px;
}

#homepage #headings{
    width: 100%;
    padding: 11vw 13vw;
    cursor: context-menu;
}

#homepage #headings h3{
    font-size: 1.5vw;
    letter-spacing: -1px;
}

#homepage #headings h3::selection{
    color: #fff;
    background-color: #000;
}

#homepage #headings #threeheadings{
        display: flex;
        gap: 30px;
}

#threeheadings h1{
    font-family: "AvertaCY-Bold";
    font-size: 7vw;
    letter-spacing: -4px;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    cursor: pointer;
}

#threeheadings h1:nth-child(1):hover{
    color: #000;
    transition: all ease 0.5s;
}

#threeheadings h1:nth-child(2):hover{
    color: #000;
    transition: all ease 0.5s;
}

#threeheadings h1:nth-child(3):hover{
    color: #000;
    transition: all ease 0.5s;
}

#homefooter{
    width: 100%;
    padding: 0 13vw;
    font-size: 1.8vw;
    padding-top: 1vw;
    cursor: context-menu;
}

#homefooter p{
    letter-spacing: -1px;
    font-weight: 600;
}

#homefooter p::selection{
    color: #fff;
    background-color: #000;
}

#featured{
    width: 100%;
    min-height: 100vh;
    padding-top: 8vw;
    padding: 8vw 13vw;
    cursor: context-menu;
}

#featured #fheading h1{
    font-size: 3.3vw;
    letter-spacing: -1px;
    font-family: "AvertaCY-Bold";
}

#featured #fheading h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#felements{
    width: 100%;
    height: 100vh;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: context-menu;
}

#felements #fleft{
    width: 45%;
    height: inherit;
    overflow: auto;
}

#felements #fleft::-webkit-scrollbar{
    display: none;
}

#fleft .fleftelm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

#fleft .fleftelm h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 700;
    margin: 1vw 0;
}

#fleft .fleftelm h3 {
    font-size: 1.5vw;
    font-weight: 600;
}

#fleft .fleftelm h4{
    opacity: 0.7;
}

#felements #fright{
    width: 45%;
    height: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}

#fright .images{
    width: 90%;
    height: 90%;
    background-color: blue;
}

#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6vw;
}

#btndiv button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: transparent;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: pointer;
    transition: all ease 0.8s;
}

#btndiv button:hover{
    color: #fff;
    background-color: #000;
}

#resource{
    width: 100%;
    padding: 0 13vw;
    cursor: context-menu;
}

#resource h1{
    font-family: "AvertaCY-Bold"; 
    letter-spacing: -1px;
    font-size: 3.3vw;
    line-height: 1;
    width: 50%;
}

#resource p{
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: 2vw;
    width: 50%;
}

#slider{
    width: 100%;
    padding: 5vw 7vw;
    white-space: nowrap;
    overflow: auto;
}

#slider::-webkit-scrollbar{
    display: none;
}

.slide{
    width: 40%;
    display: inline-block;
    margin-right: 2vw;
    cursor: pointer;
}

.slide .image{
    width: 100%;
    height: 250px;
}

.slide .image img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide .tag{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #F7F7F7;
    margin: 20px 0;
    font-weight: 600;
}

.slide h3{
    font-size: 1.4vw;
    line-height: 1;
    font-weight: 700;
}

.btndiv:nth-child(1){
    margin-top: 41vw;
}

#buttondiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1vw;
}

#buttondiv button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #e6e6e6;
    background-color: transparent;
    font-size: 1vw;
    font-weight: 600;
    letter-spacing: -1px;
    cursor: pointer;
    transition: all ease 0.8s;
}

#buttondiv button:hover{
    color: #fff;
    background-color: #000;
}

#newday{
    width: 100%;
    padding: 7vw 13vw;
    cursor: context-menu;
}

#newday h1{
    font-size: 3.3vw;
    letter-spacing: -1px;
    font-family: "AvertaCY-Bold";
}

#newday h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#cards{
    width: 100%;
    height: 400px;
    padding: 0 6vw;
    white-space: nowrap;
    overflow: auto;
}

#cards::-webkit-scrollbar{
    display: none;
}

#cards .cardelement{
    display: inline-block;
    width: 30%;
    height: 300px;
    margin-right: 2vw;
    cursor: pointer;
}

#cards .cardelement #cardimage{
    width: 100%;
    height: 90%;   
}

#cards .cardelement #cardimage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#cards .cardelement #cardname{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-size: 1.3vw;
}

#footer{
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    cursor: context-menu;
}

#footer #footerheadings{
    padding: 11vw 13vw;
}

#footer #footerheadings h1{
    color: #fff;
    font-size: 4.5vw;
    letter-spacing: -1px;
}

#footerend{
    /* height: 30vh; */
    padding: 2vw 13vw;
    display: flex;
    gap: 15vw;
}

#footerend #fleft{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

#footerend #fleft a{
    text-decoration: none;
    color: #fff;
    width: fit-content;
    border-bottom: 1px solid #fff;
}

#footerend #fleft p{
    color: #fff;
    font-size: 1vw;
    opacity: 0.6;
    margin-top: 0.5vw;
}

#footerend #fleft h6{
    color: #fff;
    font-size: 0.9vw;
    margin-top: 0.5vw;
    cursor: pointer;
}

#footerend #fright{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding-top: 25px;
}

#footerend #fright #frighttop{
    display: flex;
    gap: 8vw;
}

#footerend #fright #frighttop a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1vw;
}

#footerend #fright #frightbottom{
    display: flex;
    gap: 8vw;
}

#footerend #fright #frightbottom a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1vw;
}